version: '3.8'

services:
  flobank-api:
    build: .                # 현재 폴더의 Dockerfile 사용
    container_name: flobank-api-container
    ports:
      - "8080:8080"         # 호스트 8080 <-> 컨테이너 8080
    restart: always
    
    # application.yml의 ${변수명}에 값을 주입하기 위해 .env 파일을 읽음
    env_file:
      - .env

    # 파일 저장소 연결 (서버의 ./files 폴더를 컨테이너의 /app/uploads와 연결)
    volumes:
      - ./files:/app/uploads