<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.api.backend.mapper.RateMapper">

    <!-- =========================
         오늘 환율 중복 체크
         ========================= -->
    <select id="existsTodayRate" resultType="int">
        SELECT COUNT(*)
        FROM TB_EXCH_RATE_HIST
        WHERE rhist_currency = #{currency}
          AND TRUNC(rhist_reg_dt) = #{regDt}
    </select>

    <!-- =========================
         환율 INSERT
         rhist_no 는 트리거 자동 생성
         ========================= -->
    <insert id="insertRate">
        INSERT INTO TB_EXCH_RATE_HIST (
            rhist_currency,
            rhist_cur_name,
            rhist_base_rate,
            rhist_bkpr_rate,
            rhist_tt_buy_rate,
            rhist_tt_sell_rate,
            rhist_smbs_base_rate,
            rhist_smbs_bkpr_rate,
            rhist_reg_dt,
            rhist_announce_no
        )
        VALUES (
                   #{rhistCurrency},
                   #{rhistCurName},
                   #{rhistBaseRate},
                   #{rhistBkprRate},
                   #{rhistTtBuyRate},
                   #{rhistTtSellRate},
                   #{rhistSmbsBaseRate},
                   #{rhistSmbsBkprRate},
                   #{rhistRegDt},
                   #{rhistAnnounceNo}
               )
    </insert>

</mapper>
