<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.api.backend.mapper.RiskMapper">

    <select id="selectByDate" resultType="kr.co.api.backend.dto.ExchangeRiskDTO">
        SELECT
            VOL_STD_DY       AS volStdDy,
            VOL_CURRENCY     AS volCurrency,
            VOL_CURRENT_VAL  AS volCurrentVal,
            VOL_FORECAST_VAL AS volForecastVal
        FROM
            EXCHANGE_VOLATILITY
        WHERE
            VOL_STD_DY = #{volStdDy}
    </select>

</mapper>